.btn_group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search_btn{
  padding: 7px 15px;
  background: rgb(9, 219, 9);
  color: #fff;
  border: none;
  margin: 5px;
  border-radius: 5px;
}
.liked{
  background: red;
}